.icon-button-container {
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--white);
  color: var(--orange);
  box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 9px;
  padding-top: 2px;
  cursor: pointer;
  font-weight: 700;
}

.icon-button-xl-container {
    width: 48px;
    height: 48px;
    font-size: 18px;
}

.arrow-down-container {
  background-color: transparent;
  box-shadow: none;
  width: 40px;
  height: 40px;
}

.icon-button-border {
  width: 56px;
  height: 56px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resize-open-button-arrows,
.resize-close-button-arrows {
  position: relative;
  height: 100%;
}

.resize-open-button-arrows img,
.resize-close-button-arrows img {
  position: absolute;
  width: 7px;
}

.icon-button-xl-container .resize-open-button-arrows img,
.icon-button-xl-container .resize-close-button-arrows img {
  width: 9px;
}

.resize-open-button-arrows img:nth-child(1) {
  top: 11px;
  right: 7px;
  transform: rotate(-45deg);
}

.resize-open-button-arrows img:nth-child(2) {
  bottom: 11px;
  left: 7px;
  transform: rotate(135deg);
}

.icon-button-xl-container .resize-open-button-arrows img:nth-child(1) {
  top: 13px;
  right: 9px;
  transform: rotate(-45deg);
}

.icon-button-xl-container .resize-open-button-arrows img:nth-child(2) {
  bottom: 13px;
  left: 9px;
  transform: rotate(135deg);
}

.resize-close-button-arrows img:nth-child(1) {
  top: 11px;
  right: 7px;
  transform: rotate(135deg);
}

.resize-close-button-arrows img:nth-child(2) {
  bottom: 11px;
  left: 7px;
  transform: rotate(-45deg);
}

.icon-button-xl-container .resize-close-button-arrows img:nth-child(1) {
  top: 13px;
  right: 9px;
  transform: rotate(135deg);
}

.icon-button-xl-container .resize-close-button-arrows img:nth-child(2) {
  bottom: 13px;
  left: 9px;
  transform: rotate(-45deg);
}

.arrow-right-container {
  background-color: var(--blue);
  padding-bottom: 3px;
  transform: rotate(90deg);
}

.arrow-left-container {
  background-color: var(--blue);
  padding-bottom: 3px;
  transform: rotate(-90deg);
}

.plus-icon-container {
  transform: rotate(45deg);
}