.carousel-container {
  height: 160px;
  overflow: hidden;
  position: relative;
  width: calc(100% + 40px);
  margin: 35px -20px;
}

.carousel-track {
  animation: mobile-carousel-scroll 4s linear infinite;
  display: flex;
  height: 100%;
  /* moltiplico per il doppio del numero di foto nel carosello */
  width: calc(280px * 8);
}

@keyframes mobile-carousel-scroll {
	0% { 
    transform: translateX(0); 
  }
	100% { 
    /* moltiplico per il numero di foto nel carosello */
    transform: translateX(calc(-280px * 4))
  }
}

@keyframes little-desktop-carousel-scroll {
	0% { 
    transform: translateY(0); 
  }
	100% { 
    /* moltiplico per il numero di foto nel carosello */
    transform: translateY(calc(-210px * 4))
  }
}

@keyframes desktop-carousel-scroll {
	0% { 
    transform: translateY(0); 
  }
	100% { 
    /* moltiplico per il numero di foto nel carosello */
    transform: translateY(calc(-280px * 4))
  }
}

.carousel-image-container {
  width: 280px;
  height: 100%;
  margin-right: 20px;
}

.carousel-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 1024px) {

  .carousel-container {
    width: 328px;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
  }

  .carousel-track {
    animation: little-desktop-carousel-scroll 40s linear infinite;
    flex-direction: column;
    width: 100%;
    /* moltiplico per il doppio del numero di foto nel carosello */
    height: calc(210px * 8);
  }

  .carousel-container::before,
  .carousel-container::after {
    height: 210px;
    width: 100%;
  }

  .carousel-image-container {
    width: 100%;
    height: 190px;
    margin-right: 0px;
    margin-bottom: 20px;
  }

}

@media screen and (min-width: 1280px) {
  .carousel-container {
    width: 428px;
  }

  .carousel-track {
    animation: desktop-carousel-scroll 40s linear infinite;
    /* moltiplico per il doppio del numero di foto nel carosello */
    height: calc(280px * 8);
  }

  .carousel-container::before,
  .carousel-container::after {
    height: 280px;
  }

  .carousel-image-container {
    height: 260px;
  }
}