.card-container {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  width: 100%;
  max-width: 370px;
}

.card-title-container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 23px 45px 23px 30px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.card-title-container .card-title {
  font-size: 18px;
  color: var(--blue);
  font-weight: var(--weight-texts);
  display: flex;
  align-items: center;
  width: calc(100% - 46px);
  padding-right: 80px;
}

.card-title-container .card-number {
  font-size: 40px;
  color: var(--white);
  font-weight: var(--weight-texts);
  filter: opacity(0.3);
  width: 46px;
}

.card-description-container {
  padding: 30px;
  color: var(--white);
  font-size: 21px;
  min-height: 250px;
}

.card-destination-container {
  font-size: 17px;
  margin-top: 20px;
}

.card-destination-container p {
  color: var(--blue);
}

@media screen and (min-width: 480px) {
  .card-container {
    max-width: 320px;
  }

  .card-description-container {
    min-height: 100px;
  }
}