.first-page-container {
  width: 100%;
  min-height: 100vh;
  padding: 130px 0 100px 0;
  display: flex;
  justify-content: center;
}

.first-page-text-carousel-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 1200px;
}

.first-page-text-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 0 20px;
}

.first-page-text-container h1 {
  color: var(--blue);
  font-size: 47px;
  margin: 10px 0 25px;
}

.first-page-text-container h3 {
  color: var(--orange);
  font-size: 18px;
}

.first-page-text-container div p {
  color: var(--white);
  font-size: 16px;
  line-height: 22px;
}

.second-part-text {
  padding-left: 95px;
}

.first-page-button-container {
  display: flex;
  margin-top: 45px;
  justify-content: center;
  max-width: 1200px;
}

@media screen and (min-width: 1024px) {
  .first-page-container {
    padding: 0 120px;
    height: 100vh;
    min-height: 810px;
  }

  .first-page-text-carousel-container {
    flex-direction: row;
  }

  .first-page-text-box {
    width: 100%;
    padding: 0 350px 0 0;
  }

  .first-page-text-container h1 {
    font-size: 70px;
    margin: 0;
    padding-right: 100px;
  }

  .intro-page-text h1 {
    font-size: 58px;
  }

  .first-page-text-container h3 {
    font-size: 21px;
  }

  .first-page-text-container div p {
    font-size: 18px;
    line-height: 29px;
    width: 560px;
    max-width: 100%;
  }

  .first-page-text-container div:first-child p {
    padding: 50px 0 30px 0;
  }

  .second-part-text {
    padding-left: 0;
  }

  .first-page-button-container {
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1280px) {
  .first-page-text-container div p,
  .first-page-text-container div:first-child p {
    padding: 50px 0 0 50px;
  }

  .first-page-button-container {
    width: calc(100vw - 240px);
    justify-content: center;
  }
}